/* Home Page */
.top {
  display: flex;
  flex-flow: column;
  align-items: center;

}
.center {
  display: inline-flex;
  align-items: center;
  border-top: 0.2rem solid #4E4B47;
}
.bottom {
  display: inline-flex;
  align-items: center;
  flex-flow: row-reverse;
  border-top: 0.2rem solid #4E4B47;
  padding-bottom: 3rem;
}
.side {
  width: 40%;
}

.content {
  border: 0.2rem solid #4E4B47;
  padding-bottom: 3rem;
}

h2{
  padding-top: 4rem;
  position: relative;
  right: 35%;
}

p {
  padding: 1.4rem;
}

#bottom {
  display: block;
  margin: 0 auto;
}
